<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Comapatible" content="IE-edge">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
	<h1>Registration Page</h1>
	<form action="register" method="post">               <!-- action is which controller to use here it is register-->
	Enter name: <input type="text" name="userName" ><br>
	Enter email: <input type="email" name="mailId" ><br>
	<input type="submit" value="Register">
	<input type="reset" value="Clear">
	</form>
    
</body>
</html>